<h2>Doctor's Appointments</h2>

<form #searchForm="ngForm" (submit)="search()">
    <input type="search" name="value" required #value="ngModel" [(ngModel)]="searchfield.value">
    <input type="submit" value="Search" [disabled]="searchForm.invalid">
    <button *ngIf="searched" (click)="reset()">Show All</button>
</form>

<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Patient Name</th>
        <th>Complaint</th>
    </tr>
    <tr *ngFor="let appointment of display_appointments">
        <td>{{ appointment.date | date:"MM/dd/yy" }}</td>
        <td>{{ appointment.time | date:"h:mm a" }}</td>
        <td>{{ appointment._username }} <span *ngIf="appointment._userID == _user._id">(You)</span></td>
        <td>{{ appointment.complain }}<button *ngIf="appointment._userID == _user._id && appointment.date > today"  (click)="delete(appointment._id)">Delete</button></td>
    </tr>
</table>
