<nav class="navbar navbar-light bg-light justify-content-between">
    <span class="navbar-brand">
        <img src="/assets/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="Doctor's Appointments Logo"> Doctor's Appointments
    </span>
    <button class="btn btn-sm btn-outline-secondary" name="logout" (click)="logout()">Logout</button>
</nav>
<div class="col-8 offset-2 text-center">
    <h1>Schedule Appointment</h1>
    <p>The doctor has availability for 3 appointments per day between the hours of 8am-5pm.</p>
    <p>You may only schedule 1 appointment each day.</p>
    <p>All appointments must be scheduled at least 20 minutes apart.</p>
    <p>We look forward to taking care of you.</p>
    <div *ngIf='error' class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="col-md-6 offset-md-3 text-left" #form="ngForm" (submit)="onSubmit()">
        <div class="form-group">
            <label for="date">Date:</label>
            <input
            type="date"
            name="date"
            required
            [(ngModel)]="appointment.date"
            #date="ngModel"
            min="{{today | date: 'yyyy-MM-dd'}}"
            class="form-control"
            >
            <small class="form-text text-muted" *ngIf="appointment.date == null">
                <span *ngIf="appointment.date == null">Date is required.</span>
            </small>
        </div>
        <div class="form-group">
            <label for="time">Time:</label>
            <input
            type="time"
            name="time"
            required
            [(ngModel)]="appointment.time"
            #time="ngModel"
            class="form-control"
            >
            <small class="form-text text-muted" *ngIf="appointment.time == null">
                <span *ngIf="appointment.time == null">Time is required.</span>
            </small>
        </div>
        <div class=form-group>
            <label class="top" for="complain">Complaint:</label>
            <textarea
            name="complain"
            required
            minlength="10"
            [(ngModel)]="appointment.complain"
            #complain="ngModel"
            class="form-control"
            ></textarea>
            <small class="form-text text-muted" *ngIf="appointment.complain.length < 10">
                <span *ngIf="appointment.complain.length < 1">Complaint is required.</span>
                <span *ngIf="appointment.complain.length >= 1 && appointment.complain.length < 10">Complaint must be at least 10 characters.</span>
            </small>
        </div>
        <div class="text-center">
            <input
            type="submit"
            value="Schedule"
            [disabled]="form.invalid"
            class="btn btn-primary"
            >
        </div>
    </form>
    <button class="btn btn-outline-secondary" [routerLink]="['/']">Back</button>
</div>
