/* You can add global styles to this file, and also import other style files */

* {
    vertical-align: baseline;
    font-weight: 100;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
.container {
    font: 100 16pt "Helvetica Neue", sans-serif;
    color: #343434;
    padding: 10px;
}
h1 {
    font-size: 60pt;
    color: #8BBBD8;
    margin: 0;
    text-align: center;
}
h2 {
    font-size: 30pt;
    margin: 10px 0;
    color: #9BD3E3;
}
th {
    font-weight: 300;
    /*color: #CFCDCF;*/
    background-color: #EAE8EA;
}
th, td {
    padding: 5px 10px;
}
table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.content {
    width: 80%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
.forminput, .formsubmit {
  padding: 0 5px;
  margin: 5px;
}
input, textarea {
  background-color: #EAE8EA;
  padding: 0 3px;
}
input[type=submit] {
  background-color:#EAE8EA;
  /*color: #CFCDCF;*/
}
button, button:focus {
    border: none;
    padding: 0 5px;
    margin: 5px;
    outline: none;
    font: 100 16pt 'Helvetica Neue', sans-serif;
    /*color: #CFCDCF;*/
    background-color: #EAE8EA;
}
