/* You can add global styles to this file, and also import other style files */

* {
    vertical-align: baseline;
    font-weight: 200;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    font: 100 16pt "Helvetica Neue", sans-serif;
    color: #343434;
}
h1 {
    font-size: 60pt;
    color: #8BBBD8;
    font-weight: 200;
    margin: 0;
}
